



/* Icomoon.com */

@font-face {
	font-family: "xscale";
	src: url("xscale.otf") format("opentype");
}

.gn-menu-main,
.gn-menu-main ul {
		margin: 0;
		padding: 0;
		background: transparent;
		color: #00ccff;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		font-family: 'xscale';
		line-height: 60px;
		}

.gn-menu-main {
		position: fixed;
		top: 5%;	
		left: 3%;		
		display: block;
		height: 60px;
		width: 60px;
		font-size: 13px;
		z-index: 101;
		border-radius: 100%;

}

.gn-menu-main a {
		display: block;
		height: 10vh;		
		color: #00ccff;
		text-decoration: none;
		cursor: pointer;
}


.gn-menu-main > li {
		display: block;
		float: left;
		height: 100%;
		border-right: 1px solid #c6d0da;
		text-align: center;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
		position: relative;
		width: 60px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.gn-menu-main > li:last-child {
		float: right;
		border-right: none;
		
}

.gn-menu-main > li > a {
		padding: 0 30px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
}

.gn-menu-main:after {
		display: table;
		clear: both;
		content: "";
}

.gn-menu-wrapper {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 60px;		
		background: rgb(19, 19, 19);
		-webkit-transform: translateX(-60px);
		-moz-transform: translateX(-60px);
		transform: translateX(-60px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
		position: absolute;
		overflow-y: scroll;
		width: 100vw;
		height: 100%;
}

.gn-menu {
		border-bottom: 1px solid #c6d0da;
		text-align: left;
		font-size: 4vh;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
		box-shadow: inset 0 1px #c6d0da
}

.gn-submenu li {
		overflow: hidden;
		height: 0;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
}

.gn-submenu li a {
		color: #c1c9d1
}

input.gn-search {
		position: relative;
		z-index: 10;
		padding-left: 60px;
		outline: none;
		border: none;
		background: transparent;
		color: #5f6f81;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
		color: #5f6f81
}

.gn-search:-moz-placeholder {
		color: #5f6f81
}

.gn-search::-moz-placeholder {
		color: #5f6f81
}

.gn-search:-ms-input-placeholder {
		color: #5f6f81
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
		color: transparent
}

input.gn-search:focus {
		cursor: text
}

.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
		color: white
}

/* placeholder */

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
		color: white
}

.gn-menu-main a.gn-icon-search {
		position: absolute;
		top: 60px;
		left: 0;
		height: 60px;
}

.gn-icon::before {
		display: inline-block;
		width: 60px;
		text-align: center;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: 'xscale';
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
}

.gn-icon-about::before {
		content: "\f05a";
		font-family: FontAwesome;
}

.gn-icon-home::before {
		content: "\f015";
		font-family: FontAwesome;
   
}

.gn-icon-event::before {
	content: "\f145";
	font-family: FontAwesome;
}

.gn-icon-team::before {
		content: "\f0c0";
		font-family: FontAwesome;
}

.gn-icon-sponsor::before {
		content: "\f0f7";
		font-family: FontAwesome;
}

.gn-icon-menu::before {
		content: "\f0c9";
		font-family: FontAwesome;
		top: 10px;
}

.gn-icon-illustrator::before {
		content: "\e002"
}

.gn-icon-archive::before {
		content: "\e00d"
}

.gn-icon-article::before {
		content: "\e003"
}

.gn-icon-pictures::before {
		content: "\e008"
}

.gn-icon-videos::before {
		content: "\e009"
}

/* if an icon anchor has a span, hide the span */

.gn-icon span {
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
}

.gn-icon-menu::before {
		margin-left: -15px;
		vertical-align: -2px;
		width: 30px;
		height: 3px;
		background: white;
		box-shadow: 0 3px transparent, 0 -6px white, 0 -9px transparent, 0 -12px white;
		content: '';
}

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
		background: white;
		box-shadow: 0 3px transparent, 0 -6px white, 0 -9px transparent, 0 -12px white;
}

.gn-icon-menu.gn-selected::before {
		background: white;
		box-shadow: 0 3px transparent, 0 -6px white, 0 -9px transparent, 0 -12px white;
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
		width: 400px;
}


.gn-menu-wrapper.gn-open-all .gn-submenu li {
		height: 60px
}

@media all and (max-width: 600px) { 
	.gn-menu-wrapper.gn-open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
			width: 100vw;
	}

	
	.gn-menu-wrapper.gn-open-all .gn-scroller {
			width: 100%;
	}
}

	
	

